{% extends 'base.html' %}

{% block title %} Cstore {% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var now = new Date();
            setInterval(function() {
                $.ajax({
                    url: '/api/cstore/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data['notification'] === 0) {
                            $('.badge').text('');
                        } else {
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 3000)
        })

    </script>
{% endblock %}

{% block sidebar %}

    {% url 'cstore-order' as cstore_order_url %}
    {% url 'cstore-product' as cstore_product_url %}
    {% url 'cstore-report' as cstore_report_url %}
    {% url 'cstore-account' as cstore_account_url %}
    {% url 'cstore-reward' as cstore_reward_url %}

    <div class="text-center">
      <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.cstore.logo }}"
          width="70" height="70" />
      <br/>
      <br/>
      <h4>Hi, {{ request.user.get_full_name }}</h4>
      <h5>{{ request.user.cstore.name }}</h5>
    </div>

    <div class="list-group">
      <span class="text-uppercase">Dashboard</span>

      <a href="{% url 'cstore-order' %}"
          class="list-group-item {% if request.path == cstore_order_url %} active {% endif %} ">
          Orders
          <span class="badge"></span>
      </a>
      <a href="{% url 'cstore-product' %}"
          class="list-group-item {% if request.path == cstore_product_url %} active {% endif %} ">Product</a>
      <a href="{% url 'cstore-report' %}"
          class="list-group-item {% if request.path == cstore_report_url %} active {% endif %} ">Reports</a>

      <span class="text-uppercase">Profile</span>
      <a href="{% url 'cstore-account' %}"
          class="list-group-item {% if request.path == cstore_account_url %} active {% endif %} ">Account</a>
    </div>

    <div class="text-center">
      <a href="{% url 'cstore-sign-out' %}?next={{ request.path }}"
          class="btn btn-pink">Logout</a>
    </div>

{% endblock %}


{#"""Developed by Abhijeeth#}
{#Copyrights @abhijeethbaregal@2018"""#}

