{% extends 'cstore/base.html' %}
{% load bootstrap3 %}

{% block page %}
    <div class = "col-lg-offset-2 col-lg-8">
        <div class ="panel">
             <div class="panel-heading bg-blue">
                <h4 class = "panel-title text-center text-white">
                    Edit Product
                </h4>
             </div>
            <div class = "panel-body">
                <form method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%  bootstrap_form form %}
                    <button type="submit" class="btn btn-pink" >Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{#"""Developed by Abhijeeth#}
{#Copyrights @abhijeethbaregal@2018"""#}
