{% extends 'cstore/base.html' %}

{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">products</h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'cstore-add-product' %}" class="btn btn-pink">Add product</a>
                <br/>
                <br/>
            </div>

            <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Price</th>
                    <th class="text-center">Image</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                          <td scope="row">{{ product.id }}</td>
                          <td><a href="{% url 'cstore-edit-product' product.id %}">{{ product.name }}</a></td>
                          <td>{{ product.short_description }}</td>
                          <td>{{ product.price }}</td>
                          <td class="text-center"><img class="img-rounded"
                              src="{{ MEDIA_URL }}{{ product.image }}" width="50" height="50"></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}


{#"""Developed by Abhijeeth#}
{#Copyrights @abhijeethbaregal@2018"""#}
