{% extends 'base_signup.html' %}
{%  load bootstrap3 %}
{% block title %}Sign In{%  endblock %}
{% block heading %}Cstore- Sign-In{% endblock %}

{%  block content %}
  <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form cstore_form %}
  <button type = "submit" class="btn btn-pink pull-right">Sign Up</button>
  </form>
    <a href=""{% url "cstore-sign-in" %}>Already have an account</a>

{% endblock %}

{#"""Developed by Abhijeeth#}
{#Copyrights @abhijeethbaregal@2018"""#}
