{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign In{%  endblock %}
{% block heading %}Cstore- Sign-In{% endblock %}

{%  block content %}
 <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
        <button type="submit" class="btn btn-pink pull-right">Sign In</button>
    </form>
    <a href="{% url 'cstore-sign-up' %}">Become a Cstore</a>
{% endblock %}

{#"""Developed by Abhijeeth#}
{#Copyrights @abhijeethbaregal@2018"""#}
